.titlt{
    text-align: center;
    color: black;
}

.connecting{
    text-align: center;
    direction: rtl;
    color: rgba(13, 88, 252, 0.822);
}

.button{
    width: 10px; 
    background-color: rgba(13, 88, 252, 0.822);
    float:right;
    border-color: rgba(13, 88, 252, 0.822);
    margin-left: 44%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
} 
.right{text-align: center;margin-right: 2%;}
.iwidth{
    width:45%;  
    margin-right: 27%; 
    text-align: left;
}
.psize{width: 50%;
height: 50%;}