.App {
  text-align: center;
  /* background-color:rgb(222, 235, 247) ; */
  /* background-color:rgb(222, 235, 247) ; */
  height: 100%;
  background-size: cover;
}
.footer {margin:0;
  padding-bottom:0;
  position:fixed;
  left: 0;
   bottom: 0;
   width: 100%;
  background-color: rgb(91, 155, 213);
   color: white;text-align: center;
   text-shadow: rgb(91, 155, 213) 0 2px 3px;}
.icon{height:2%;
  width:2%;
  margin-left:1.5%;
  border-radius:25%;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   margin-bottom: 1%;}
a{text-decoration:none;}
.icon:hover{
  /* height:40px;width:40px; */
  box-shadow: 0 6px 10px 0 rgba(13, 88, 252, 0.822);
}
